[{:block/name "⏯ aufkommende grossbanken in der schweiz",
  :block/created-at 1634043170520,
  :block/updated-at 1634045743300}
 {:block/name "⏯ mit entwürfen zum endprodukt",
  :block/created-at 1634043170520,
  :block/updated-at 1634045017981}
 {:block/name "jan 6th, 2021",
  :block/created-at 1609891200000,
  :block/updated-at 1609891200000}
 {:block/name "⏯ geistige landesverteidigung und erneuerungsrhetorik",
  :block/created-at 1634043170524,
  :block/updated-at 1634046429748}
 {:block/name "⏯ radikalisierte linke und das oak",
  :block/created-at 1634043170524,
  :block/updated-at 1634046214643}
 {:block/name "⏯ sozialpartnerschaft statt streiks",
  :block/created-at 1634043170521,
  :block/updated-at 1634046239575}
 {:block/name "a",
  :block/created-at 1634043170519,
  :block/updated-at 1634043170519}
 {:block/name "⏯ prosperität trotz negativer handelsbilanz",
  :block/created-at 1634043170520,
  :block/updated-at 1634045758726}
 {:block/name "⏯ das zettelkasten-mindset",
  :block/created-at 1634043170522,
  :block/updated-at 1634044189963}
 {:block/name "⏯ erneuerungsbewegungen und der frontenfrühling 1933",
  :block/created-at 1634043170522,
  :block/updated-at 1634046391785}
 {:block/name
  "⏯ wie sollte sich die arbeit mit dem zettelkasten anfühlen?",
  :block/created-at 1634043170522,
  :block/updated-at 1634043170522}
 {:block/name "⏯ was beim schreiben zählt",
  :block/created-at 1634043170522,
  :block/updated-at 1634043389790}
 {:block/name "⏯ was literaturnotizen enthalten sollten",
  :block/created-at 1634043170525,
  :block/updated-at 1634044601290}
 {:block/name "⏯ zettelkasten als standardisierter container",
  :block/created-at 1634043170519,
  :block/updated-at 1634044261142}
 {:block/name "⏯ wirtschaftskrise 1974-76 in der schweiz",
  :block/created-at 1634043170524,
  :block/updated-at 1634046860489}
 {:block/name "⏯ cincera-skandal",
  :block/created-at 1634043170524,
  :block/updated-at 1634046909743}
 {:block/name "oct 13th, 2021",
  :block/created-at 1634083200000,
  :block/updated-at 1634083200000}
 {:block/name "dec 31st, 2020",
  :block/created-at 1609372800000,
  :block/updated-at 1609372800000}
 {:block/name "⏯ niederschlagung des landesstreiks 1918",
  :block/created-at 1634043170522,
  :block/updated-at 1634046231164}
 {:block/name "⏯ gesunder bauernstand vs industrielle landwirtschaft",
  :block/created-at 1634043170522,
  :block/updated-at 1634046667984}
 {:block/name "⏯ diskriminierung der schweizer frauen um 1900",
  :block/created-at 1634043170524,
  :block/updated-at 1634045982339}
 {:block/name
  "⏯ vergrösserung des umweltbewusstseins in der schweizer bevölkerung",
  :block/created-at 1634043170521,
  :block/updated-at 1634046834518}
 {:block/name "⏯ 19th century's conservatism",
  :block/created-at 1634043170521,
  :block/updated-at 1634043170521}
 {:block/name "⏯ effektiv arbeiten durch motivation und kontrolle",
  :block/created-at 1634043170519,
  :block/updated-at 1634044974212}
 {:block/name "wait",
  :block/created-at 1634043170520,
  :block/updated-at 1634043170520}
 {:block/name "⏯ einführung des proporz-wahlsystems",
  :block/created-at 1634043170524,
  :block/updated-at 1634046261398}
 {:block/name "🚼",
  :block/created-at 1634043170521,
  :block/updated-at 1634043170521}
 {:block/name "⏯ drei wege zur prosperität im \"fin de siècle\"",
  :block/created-at 1634043170519,
  :block/updated-at 1634045878776}
 {:block/name "dec 27th, 2020",
  :block/created-at 1609027200000,
  :block/updated-at 1609027200000}
 {:block/name "favorites",
  :block/created-at 1634043170521,
  :block/updated-at 1634043170521}
 {:block/name
  "⏯ rationalisierung und subventionierung der landwirtschaft in der zwischenkriegszeit",
  :block/created-at 1634043170522,
  :block/updated-at 1634046365994}
 {:block/name "⏯ inhaltsverzeichnis als arbeitsstruktur",
  :block/created-at 1634043170521,
  :block/updated-at 1634045000489}
 {:block/name "⏯ schlagwörter im zettelkasten",
  :block/created-at 1634043170522,
  :block/updated-at 1634044819864}
 {:block/name "dec 19th, 2020",
  :block/created-at 1608336000000,
  :block/updated-at 1608336000000}
 {:block/name "✅ schweizer liberale im klassenkampf von oben",
  :block/created-at 1634043170520,
  :block/updated-at 1634043170520}
 {:block/name "⏯ verstehen statt büffeln",
  :block/created-at 1634043170522,
  :block/updated-at 1634044792215}
 {:block/name "✅ liberalismus im 19. jh",
  :block/created-at 1634118534350,
  :block/updated-at 1634118534350}
 {:block/name "jan 11th, 2021",
  :block/created-at 1610323200000,
  :block/updated-at 1610323200000}
 {:block/name "⏯ schreiben vs. wiederholen",
  :block/created-at 1634043170521,
  :block/updated-at 1634044714808}
 {:block/name "⏯ general henri guisan",
  :block/created-at 1634043170521,
  :block/updated-at 1634046470111}
 {:block/name "⏯ die bergier-kommission",
  :block/created-at 1634043170520,
  :block/updated-at 1634047074705}
 {:block/name "jan 5th, 2021",
  :block/created-at 1609804800000,
  :block/updated-at 1609804800000}
 {:block/name
  "⏯ ungleiche systeme unserer kapitalistischen gesellschaft",
  :block/created-at 1634043170525,
  :block/updated-at 1634043170525}
 {:block/name "⏯ notizen als massstab für produktivität",
  :block/created-at 1634043170521,
  :block/updated-at 1634044737471}
 {:block/name "⏯ \"swissness\"",
  :block/created-at 1634043170519,
  :block/updated-at 1634047126253}
 {:block/name "⏯ lehrreiche 90er für die schweiz",
  :block/created-at 1634043170522,
  :block/updated-at 1634047066326}
 {:block/name "jan 9th, 2021",
  :block/created-at 1610150400000,
  :block/updated-at 1610150400000}
 {:block/name
  "⏯ die deutschschweiz und die mittelmächte im 1. weltkrieg",
  :block/created-at 1634043170524,
  :block/updated-at 1634046153286}
 {:block/name "⏯ das lange 20. jahrhundert europas",
  :block/created-at 1634043170522,
  :block/updated-at 1634045418635}
 {:block/name "⏯ mittelstand statt klassenkampf",
  :block/created-at 1634043170522,
  :block/updated-at 1634046317847}
 {:block/name "⏯ rechtsangleichung der schweiz um 1990",
  :block/created-at 1634043170524,
  :block/updated-at 1634046956684}
 {:block/name "⏯ \"trente glorieuses\" in der schweiz",
  :block/created-at 1634043170522,
  :block/updated-at 1634046645995}
 {:block/name "⏯ beitritt zum völkerbund",
  :block/created-at 1634043170521,
  :block/updated-at 1634046254964}
 {:block/name "⏯ die unterschiedlichen notiztypen im zettelkasten",
  :block/created-at 1634043170524,
  :block/updated-at 1634044283161}
 {:block/name "⏯ wirtschaftsfestung schweiz",
  :block/created-at 1634043170521,
  :block/updated-at 1634046326039}
 {:block/name "⏯ schweizer aussenpolitik in der nachkriegszeit",
  :block/created-at 1634043170521,
  :block/updated-at 1634046567037}
 {:block/name "⏯ territoriale aussenpolitik der schweiz",
  :block/created-at 1634043170521,
  :block/updated-at 1634045835990}
 {:block/name "⏯ anti-ewr kampagne",
  :block/created-at 1634043170524,
  :block/updated-at 1634047025628}
 {:block/name "⏯ einschränkungen als entlastung",
  :block/created-at 1634043170521,
  :block/updated-at 1634044941954}
 {:block/name "⏯ abstraktion als weg zur lösung",
  :block/created-at 1634043170524,
  :block/updated-at 1634044916735}
 {:block/name
  "✅ germanophile armeespitze der schweiz im ersten weltkrieg",
  :block/created-at 1634043170522,
  :block/updated-at 1634043170522}
 {:block/name "dec 30th, 2020",
  :block/created-at 1609286400000,
  :block/updated-at 1609286400000}
 {:block/name "⏯ die schweiz als nation ohne geschichte",
  :block/created-at 1634043170524,
  :block/updated-at 1634045447334}
 {:block/name "dec 17th, 2020",
  :block/created-at 1608163200000,
  :block/updated-at 1608163200000}
 {:block/name
  "⏯ integration der sozialdemokratie in der zwischenkriegszeit",
  :block/created-at 1634043170524,
  :block/updated-at 1634046415309}
 {:block/name "⏯ die angst einer wirtschaftskrise der nachkriegszeit",
  :block/created-at 1634043170519,
  :block/updated-at 1634046616076}
 {:block/name "⏯ europa zwischen differenzen und konvergenzen",
  :block/created-at 1634043170524,
  :block/updated-at 1634045435119}
 {:block/name "✅ die verschiebung nach rechts der schweizer liberalen",
  :block/created-at 1634043170522,
  :block/updated-at 1634043170522}
 {:block/name "⏯ ein thema wählen mit dem zettelkasten",
  :block/created-at 1634043170520,
  :block/updated-at 1634044958714}
 {:block/name "⏯ was mit dem zettelkasten zu tun bleibt",
  :block/created-at 1634043170520,
  :block/updated-at 1634044074042}
 {:block/name "⏯ endpunkte des langen 20. jarhundert",
  :block/created-at 1634043170522,
  :block/updated-at 1634047164968}
 {:block/name "⏯ 68-er bewegung in der schweiz",
  :block/created-at 1634043170522,
  :block/updated-at 1634046737109}
 {:block/name "⏯ die macht des kleinstaates schweiz",
  :block/created-at 1634043170522,
  :block/updated-at 1634045496215}
 {:block/name "⏯ die schweiz als trittbrettfahrerin",
  :block/created-at 1634043170524,
  :block/updated-at 1634045909117}
 {:block/name "⏯ blocher's svp",
  :block/created-at 1634043170524,
  :block/updated-at 1634047012195}
 {:block/name "⏯ schweizer sozialpolitik um 1925",
  :block/created-at 1634043170522,
  :block/updated-at 1634046305311}
 {:block/name "⏯ schweizer flüchtlingspolitik im zweiten weltkrieg",
  :block/created-at 1634043170521,
  :block/updated-at 1634046521172}
 {:block/name "⏯ warum notizen wichtig sind",
  :block/created-at 1634043170524,
  :block/updated-at 1634043323260}
 {:block/name "⏯ neue kantonsgrenzen im jura",
  :block/created-at 1634043170522,
  :block/updated-at 1634046927600}
 {:block/name "⏯ der kopp-skandal",
  :block/created-at 1634043170520,
  :block/updated-at 1634046985669}
 {:block/name "⏯ frauenpolitik im ausgehenden 20. jh in der schweiz",
  :block/created-at 1634043170521,
  :block/updated-at 1634046974383}
 {:block/name
  "⏯ wieso das system \"getting things done\" von david allen funktioniert",
  :block/created-at 1634043170524,
  :block/updated-at 1634043780612}
 {:block/name
  "🚼 geschichte der schweiz im 20. jahrhundert - jakob tanner",
  :block/created-at 1634043170521,
  :block/updated-at 1634047293564}
 {:block/name "⏯ vorzeichen einer globalisierten wirtschaft",
  :block/created-at 1634043170521,
  :block/updated-at 1634046871498}
 {:block/name "card",
  :block/created-at 1634043170521,
  :block/updated-at 1634043170521}
 {:block/name "⏯ konservative schweizer demokratie",
  :block/created-at 1634043170519,
  :block/updated-at 1634046008704}
 {:block/name "⏯ rettung der ubs in der finanzkrise",
  :block/created-at 1634043170520,
  :block/updated-at 1634047179163}
 {:block/name "⏯ beginn des landesstreiks 1918",
  :block/created-at 1634043170522,
  :block/updated-at 1634046220243}
 {:block/name "⏯ der nationalstolz als schutzwall",
  :block/created-at 1634043170521,
  :block/updated-at 1634045461622}
 {:block/name "⏯ mit notizen spielen um zu lernen",
  :block/created-at 1634043170522,
  :block/updated-at 1634044892596}
 {:block/name "⏯ vom ewr-nein zu den bilateralen",
  :block/created-at 1634043170521,
  :block/updated-at 1634043170521}
 {:block/name "⏯ frauenpolitik um 1930",
  :block/created-at 1634043170522,
  :block/updated-at 1634046352374}
 {:block/name "⏯ student*innen-streiks",
  :block/created-at 1634043170524,
  :block/updated-at 1634043170524}
 {:block/name "jan 4th, 2021",
  :block/created-at 1609718400000,
  :block/updated-at 1609718400000}
 {:block/name "⏯ techniken um buchnotizen zu machen",
  :block/created-at 1634043170521,
  :block/updated-at 1634044558851}
 {:block/name "⏯ wirtschaft ohne politik",
  :block/created-at 1634043170521,
  :block/updated-at 1634046579967}
 {:block/name "⏯ last des bestehenden wissens",
  :block/created-at 1634043170524,
  :block/updated-at 1634043170524}
 {:block/name "⏯ warum multitasking keine gute idee ist",
  :block/created-at 1634043170522,
  :block/updated-at 1634044438460}
 {:block/name "⏯ schweiz und der j-stempel im zweiten weltkrieg",
  :block/created-at 1634043170521,
  :block/updated-at 1634046451477}
 {:block/name "⏯ wozu literaturnotizen dienen (sollten)",
  :block/created-at 1634043170521,
  :block/updated-at 1634044615982}
 {:block/name "⏯ kurzer frühling der erinnerung in der schweiz",
  :block/created-at 1634043170524,
  :block/updated-at 1634046557259}
 {:block/name "⏯ zeitpunkt der themenwahl",
  :block/created-at 1634043170522,
  :block/updated-at 1634044388964}
 {:block/name "⏯ sonderfall schweiz",
  :block/created-at 1634043170522,
  :block/updated-at 1634046585713}
 {:block/name "⏯ stärke der svp um die jahrtausendwende",
  :block/created-at 1634043170522,
  :block/updated-at 1634047150837}
 {:block/name "⏯ erleuchtung durch den zettelkasten",
  :block/created-at 1634043170519,
  :block/updated-at 1634044880954}
 {:block/name "⏯ humanitäre schweiz ohne menschenrechte",
  :block/created-at 1634043170520,
  :block/updated-at 1634046594982}
 {:block/name "dec 9th, 2020",
  :block/created-at 1607472000000,
  :block/updated-at 1607472000000}
 {:block/name "doing",
  :block/created-at 1634043170521,
  :block/updated-at 1634043170521}
 {:block/name "⏯ trap-konzept für permanente notizen",
  :block/created-at 1634043170522,
  :block/updated-at 1634043170522}
 {:block/name "⏯ die schweiz und die neutralitätsdividende",
  :block/created-at 1634043170525,
  :block/updated-at 1634045923424}
 {:block/name "⏯ schreiben um zu verstehen",
  :block/created-at 1634043170520,
  :block/updated-at 1634044705303}
 {:block/name "dec 16th, 2020",
  :block/created-at 1608076800000,
  :block/updated-at 1608076800000}
 {:block/name "⏯ die schweizer zauberformel",
  :block/created-at 1634043170521,
  :block/updated-at 1634046602454}
 {:block/name "⏯ systemdenken und der zettelkasten",
  :block/created-at 1634043170522,
  :block/updated-at 1634044872445}
 {:block/name "later",
  :block/created-at 1634043170521,
  :block/updated-at 1634043170521}
 {:block/name
  "✅ staatstragende liberale zu beginn des 20. jahrhunderts",
  :block/created-at 1634043170519,
  :block/updated-at 1634043170519}
 {:block/name "⏯ steuerhinterzug in der schweiz",
  :block/created-at 1634043170524,
  :block/updated-at 1634046338934}
 {:block/name "⏯ willenskraft als begrenzte ressource",
  :block/created-at 1634043170522,
  :block/updated-at 1634044514434}
 {:block/name "📜 ahrens 2017",
  :block/created-at 1634043170524,
  :block/updated-at 1634043170524}
 {:block/name "⏯ verfassungsrevision der schweiz 1999",
  :block/created-at 1634043170519,
  :block/updated-at 1634047082932}
 {:block/name "⏯ erstarkende linke um 1900",
  :block/created-at 1634043170519,
  :block/updated-at 1634047410731}
 {:block/name "⏯ tägliches feedback durch notizen",
  :block/created-at 1634043170524,
  :block/updated-at 1634044415840}
 {:block/name "⏯ wankende neutralitätspolitik im zweiten weltkrieg",
  :block/created-at 1634043170521,
  :block/updated-at 1634046530780}
 {:block/name
  "⏯ probleme bei der vermischung von verschiedenen arten von notizen",
  :block/created-at 1634043170522,
  :block/updated-at 1634044312032}
 {:block/name
  "⏯ veränderungen in der medienlandschaft der schweiz um 1965",
  :block/created-at 1634043170520,
  :block/updated-at 1634046713200}
 {:block/name "⏯ vermögensinitiative 1922",
  :block/created-at 1634043170521,
  :block/updated-at 1634046283392}
 {:block/name
  "⏯ die moderne schweiz zwischen demokratie, kapitalismus und nationalstolz",
  :block/created-at 1634043170520,
  :block/updated-at 1634045518052}
 {:block/name "jan 1st, 2021",
  :block/created-at 1609459200000,
  :block/updated-at 1609459200000}
 {:block/name "⏯ fremdenfeindlichkeit vs gastarbeiter",
  :block/created-at 1634043170521,
  :block/updated-at 1634046661183}
 {:block/name "⏯ urbanisierung in der schweiz um 1900",
  :block/created-at 1634043170524,
  :block/updated-at 1634047392896}
 {:block/name "⏯ dunning-kruger effekt",
  :block/created-at 1634043170522,
  :block/updated-at 1634043572103}
 {:block/name "⏯ humanitäre schweiz im 1. weltkrieg",
  :block/created-at 1634043170524,
  :block/updated-at 1634046184980}
 {:block/name "b",
  :block/created-at 1634043170522,
  :block/updated-at 1634043170522}
 {:block/name "⏯ parteipolitische stabilität um 1965",
  :block/created-at 1634043170520,
  :block/updated-at 1634046690163}
 {:block/name "dec 14th, 2020",
  :block/created-at 1607904000000,
  :block/updated-at 1607904000000}
 {:block/name "⏯ was ist schreiben?",
  :block/created-at 1634043170524,
  :block/updated-at 1634044222579}
 {:block/name "⏯ p26",
  :block/created-at 1634043170524,
  :block/updated-at 1634047005298}
 {:block/name "⏯ flexibilität im zettelkasten",
  :block/created-at 1634043170522,
  :block/updated-at 1634043883427}
 {:block/name "⏯ schweizer aussenpolitik auf annäherungskurs",
  :block/created-at 1634043170522,
  :block/updated-at 1634046851354}
 {:block/name "⏯ die schweiz im reduit",
  :block/created-at 1634043170521,
  :block/updated-at 1634046488990}
 {:block/name "⏯ willensnation oder zwangseinheit?",
  :block/created-at 1634043170524,
  :block/updated-at 1634045486458}
 {:block/name "⏯ röstigraben im 1. weltkrieg",
  :block/created-at 1634043170521,
  :block/updated-at 1634046178382}
 {:block/name "⏯ mehrere arbeiten gleichzeitig schreiben",
  :block/created-at 1634043170521,
  :block/updated-at 1634045009904}
 {:block/name "⏯ neutrale schweiz als internationale verbindungsmacht",
  :block/created-at 1634043170524,
  :block/updated-at 1634045931939}
 {:block/name "⏯ schweizer sozialpolitik um 1900",
  :block/created-at 1634043170521,
  :block/updated-at 1634046026453}
 {:block/name "⏯ anti-akw bewegung in der schweiz",
  :block/created-at 1634043170522,
  :block/updated-at 1634046842648}
 {:block/name
  "⏯ klassenunterschiede in der schweiz in der nachkriegszeit",
  :block/created-at 1634043170521,
  :block/updated-at 1634046609579}
 {:block/name "⏯ ungarn-flüchtlinge in der schweiz",
  :block/created-at 1634043170521,
  :block/updated-at 1634046626228}
 {:block/name "⏯ \"privatregierung\" der interessenverbände",
  :block/created-at 1634043170521,
  :block/updated-at 1634045818726}
 {:block/name "✅ drei dinge die unser hirn langsam machen",
  :block/created-at 1634043170524,
  :block/updated-at 1634043170524}
 {:block/name "✅ integration der sps in den schweizer bundesstaat",
  :block/created-at 1634043170520,
  :block/updated-at 1634047364573}
 {:block/name "todo",
  :block/created-at 1634043170522,
  :block/updated-at 1634043170522}
 {:block/name "⏯ veraltete lehrmittel",
  :block/created-at 1634043170524,
  :block/updated-at 1634043170524}
 {:block/name "dec 28th, 2020",
  :block/created-at 1609113600000,
  :block/updated-at 1609113600000}
 {:block/name "⏯ politisches klima im bundesstaat um 1925",
  :block/created-at 1634043170521,
  :block/updated-at 1634046296485}
 {:block/name "⏯ einsame attacke aufs bankgeheimnis 1964",
  :block/created-at 1634043170521,
  :block/updated-at 1634046723225}
 {:block/name "⏯ wieso uns nur die kernaussage interessieren sollte",
  :block/created-at 1634043170524,
  :block/updated-at 1634044680749}
 {:block/name "⏯ fremdenfeindlichkeit der schweiz um 1900",
  :block/created-at 1634043170521,
  :block/updated-at 1634045969995}
 {:block/name "⏯ neutrale schweiz im westen",
  :block/created-at 1634043170521,
  :block/updated-at 1634046573372}
 {:block/name "⏯ masseneinwanderungsinitative 2014",
  :block/created-at 1634043170521,
  :block/updated-at 1634047197733}
 {:block/name "⏯ gewohnheiten um dinge fertig zu bringen",
  :block/created-at 1634043170524,
  :block/updated-at 1634045027570}
 {:block/name "done",
  :block/created-at 1634043170522,
  :block/updated-at 1634043170522}
 {:block/name "c",
  :block/created-at 1634043170522,
  :block/updated-at 1634043170522}
 {:block/name "⏯ was wir brauchen, um gute notizen zu machen",
  :block/created-at 1634043170522,
  :block/updated-at 1634043455591}
 {:block/name "⏯ streikkultur in der schweiz um 1900",
  :block/created-at 1634043170524,
  :block/updated-at 1634046050568}
 {:block/name "⏯ notrecht in der schweiz im zweiten weltkrieg",
  :block/created-at 1634043170521,
  :block/updated-at 1634046400822}
 {:block/name "⏯ ideen erkennen und verbessern",
  :block/created-at 1634043170522,
  :block/updated-at 1634044857145}
 {:block/name "dec 15th, 2020",
  :block/created-at 1607990400000,
  :block/updated-at 1607990400000}
 {:block/name "⏯ fichenskandal",
  :block/created-at 1634043170521,
  :block/updated-at 1634046998656}
 {:block/name "⏯ denken durch schreiben",
  :block/created-at 1634043170521,
  :block/updated-at 1634044769399}
 {:block/name "⏯ was ist ein gutes notiz-system?",
  :block/created-at 1634043170520,
  :block/updated-at 1634043826034}
 {:block/name "✅",
  :block/created-at 1634043170520,
  :block/updated-at 1634043170520}
 {:block/name
  "⏯ fremdenfeindlichkeit der schweiz nach dem 1. weltkrieg",
  :block/created-at 1634043170520,
  :block/updated-at 1634046274211}
 {:block/name "⏯ rassistische schweizer wissenschaft",
  :block/created-at 1634043170521,
  :block/updated-at 1634046439810}
 {:block/name "⏯ wie wir lernen, nur die kernaussagen zu beachten",
  :block/created-at 1634043170521,
  :block/updated-at 1634044692920}
 {:block/name
  "⏯ parteienstärke im bundesstaat um die jahrtausendwende",
  :block/created-at 1634043170522,
  :block/updated-at 1634047142617}
 {:block/name "dec 11th, 2020",
  :block/created-at 1607644800000,
  :block/updated-at 1607644800000}
 {:block/name
  "⏯ florierende schweizer finanzwirtschaft in der nachkriegszeit",
  :block/created-at 1634043170522,
  :block/updated-at 1634046675691}
 {:block/name
  "⏯ bildung und wissenschaft in der schweiz im kalten krieg",
  :block/created-at 1634043170521,
  :block/updated-at 1634046681661}
 {:block/name "⏯ schweiz als drehscheibe internationaler strömungen",
  :block/created-at 1634043170522,
  :block/updated-at 1634046195190}
 {:block/name "⏯ unvorbereitete schweiz im 1. weltkrieg",
  :block/created-at 1634043170521,
  :block/updated-at 1634046118985}
 {:block/name "🚼 how to take smart notes - sönke ahrens",
  :block/created-at 1634043170524,
  :block/updated-at 1634045099505}
 {:block/name "⏯ europäische menschenrechtskonvention und die schweiz",
  :block/created-at 1634043170524,
  :block/updated-at 1634046822491}
 {:block/name "⏯ autos und mobilität in der schweiz um 1965",
  :block/created-at 1634043170524,
  :block/updated-at 1634046702112}
 {:block/name "⏯ wirtschaftspolitik im zweiten weltkrieg",
  :block/created-at 1634043170522,
  :block/updated-at 1634046497334}
 {:block/name "⏯ unversehrte schweiz",
  :block/created-at 1634043170520,
  :block/updated-at 1634046544677}
 {:block/name "⏯ lücken im zettelkasten",
  :block/created-at 1634043170519,
  :block/updated-at 1634044804796}
 {:block/name "⏯ chiasso-skandal und das bankgeheimnis",
  :block/created-at 1634043170524,
  :block/updated-at 1634046951066}
 {:block/name "⏯ der bauern-bürgerblock",
  :block/created-at 1634043170522,
  :block/updated-at 1634046059828}
 {:block/name "⏯ expert*innen sind keine planer*innen",
  :block/created-at 1634043170521,
  :block/updated-at 1634043669477}
 {:block/name "⏯ schweizer banken in der grossen depression",
  :block/created-at 1634043170522,
  :block/updated-at 1634046379368}
 {:block/name "⏯ zettelkasten-stöbern statt brainstorming",
  :block/created-at 1634043170522,
  :block/updated-at 1634044965816}
 {:block/name "⏯ schweizer steuerpolitik um 1900",
  :block/created-at 1634043170521,
  :block/updated-at 1634046040043}
 {:block/name "⏯",
  :block/created-at 1634043170522,
  :block/updated-at 1634043170522}
 {:block/name "⏯ grenzen des kurzzeitgedächtnisses",
  :block/created-at 1634043170524,
  :block/updated-at 1634044505360}
 {:block/name "⏯ freiburger \"christliche republik\"",
  :block/created-at 1634043170521,
  :block/updated-at 1634045655401}
 {:block/name "⏯ züri brännt",
  :block/created-at 1634043170521,
  :block/updated-at 1634046878464}
 {:block/name "⏯ der confirmation bias",
  :block/created-at 1634043170521,
  :block/updated-at 1634044626983}
 {:block/name "⏯ eine arbeit schreiben - schritt für schritt",
  :block/created-at 1634043170522,
  :block/updated-at 1634044129106}
 {:block/name "⏯ mängel der (schweizerischen) direkten demokratie",
  :block/created-at 1634043170521,
  :block/updated-at 1634045504165}
 {:block/name "⏯ politische mächte im bundesstaat des fin de siècles",
  :block/created-at 1634043170521,
  :block/updated-at 1634045540101}
 {:block/name "⏯ raubgoldübernahmen im zweiten weltkrieg",
  :block/created-at 1634043170522,
  :block/updated-at 1634046509966}
 {:block/name "waiting",
  :block/created-at 1634043170524,
  :block/updated-at 1634043170524}
 {:block/name "dec 8th, 2020",
  :block/created-at 1607385600000,
  :block/updated-at 1607385600000}
 {:block/name "⏯ wer den zettelkasten brauchen kann",
  :block/created-at 1634043170521,
  :block/updated-at 1634043416054}
 {:block/name "⏯ die schweiz im positivsummenspiel",
  :block/created-at 1634043170521,
  :block/updated-at 1634047442249}
 {:block/name "⏯ lernen will geübt sein",
  :block/created-at 1634043170521,
  :block/updated-at 1634044725457}
 {:block/name "⏯ freiheit im \\\\\\\"sturm und drang\\\\\\\"",
  :block/created-at 1634043170520,
  :block/updated-at 1634043170520}
 {:block/name "⏯ links im zettelkasten",
  :block/created-at 1634043170521,
  :block/updated-at 1634044830175}
 {:block/name "⏯ tiefsteuerpolitik am anschlag",
  :block/created-at 1634043170521,
  :block/updated-at 1634047157167}
 {:block/name "⏯ ende der wirtschaftsfestung schweiz",
  :block/created-at 1634043170521,
  :block/updated-at 1634047019214}
 {:block/name
  "⏯ überwachungsapparat gegen \"anarchistische asylanten\"",
  :block/created-at 1634043170522,
  :block/updated-at 1634046088853}
 {:block/name "⏯ reaktionäre verbände nach dem 1. weltkrieg",
  :block/created-at 1634043170521,
  :block/updated-at 1634046268093}
 {:block/name "⏯ kriselndes militär um 1980",
  :block/created-at 1634043170520,
  :block/updated-at 1634046944197}
 {:block/name "⏯ schweizer gemeinderückgang in den 90-er jahren",
  :block/created-at 1634043170521,
  :block/updated-at 1634047045349}
 {:block/name "⏯ themenwahl und arbeitsbeginn",
  :block/created-at 1634043170524,
  :block/updated-at 1634044334244}
 {:block/name "jan 12th, 2021",
  :block/created-at 1610409600000,
  :block/updated-at 1610409600000}
 {:block/name "jan 10th, 2021",
  :block/created-at 1610236800000,
  :block/updated-at 1610236800000}
 {:block/name "⏯ steueroase schweiz",
  :block/created-at 1634043170521,
  :block/updated-at 1634046332593}
 {:block/name "⏯ anerkennung der verfehlungen des verdingwesens",
  :block/created-at 1634043170522,
  :block/updated-at 1634047191303}
 {:block/name "⏯ wie der zettelkasten den confirmation bias bekämpft",
  :block/created-at 1634043170519,
  :block/updated-at 1634044645626}
 {:block/name "🚼 doughnut economics - kate raworth",
  :block/created-at 1634118534350,
  :block/updated-at 1634118534350}
 {:block/name "⏯ klassenunterschiede in der schweiz im 1. weltkrieg",
  :block/created-at 1634043170519,
  :block/updated-at 1634046206285}
 {:block/name "in-progress",
  :block/created-at 1634043170524,
  :block/updated-at 1634043170524}
 {:block/name
  "⏯ wieso der zettelkasten lange zeit nicht verstanden wurde",
  :block/created-at 1634043170522,
  :block/updated-at 1634043895707}
 {:block/name "⏯ flexibles nationalbewusstsein",
  :block/created-at 1634043170524,
  :block/updated-at 1634045948669}
 {:block/name "⏯ schweiz inmitten der achsenmächte",
  :block/created-at 1634043170522,
  :block/updated-at 1634046463622}
 {:block/name "⏯ parteienstärke im bundesstaat um 1980",
  :block/created-at 1634043170521,
  :block/updated-at 1634046898202}
 {:block/name "⏯ industrie 2.0 in der schweiz",
  :block/created-at 1634043170524,
  :block/updated-at 1634045675682}
 {:block/name "⏯ abspaltung der kommunistischen partei schweiz (kps)",
  :block/created-at 1634043170525,
  :block/updated-at 1634046247743}
 {:block/name
  "⏯ schweizer armee als fundament der bewaffneten neutralität",
  :block/created-at 1634043170521,
  :block/updated-at 1634046100149}
 {:block/name "⏯ wirtschafts- statt grenzschutz",
  :block/created-at 1634043170522,
  :block/updated-at 1634046168067}
 {:block/name "now",
  :block/created-at 1634043170524,
  :block/updated-at 1634043170524}
 {:block/name "⏯ neutrale schweiz und der kolonialismus",
  :block/created-at 1634043170521,
  :block/updated-at 1634045848900}
 {:block/name "⏯ kartelle & verbandsfreiheit in der schweiz",
  :block/created-at 1634043170519,
  :block/updated-at 1634045767217}
 {:block/name
  "⏯ internationalisierung, neoliberalisierung und privatisierung der schweiz",
  :block/created-at 1634043170521,
  :block/updated-at 1634047034839}
 {:block/name "⏯ _privatregierung_ der interessenverbände",
  :block/created-at 1634118534350,
  :block/updated-at 1634118534350}
 {:block/name "⏯ aufmerksames \"schreiben\"",
  :block/created-at 1634043170521,
  :block/updated-at 1634044471889}
 {:block/name "dec 13th, 2020",
  :block/created-at 1607817600000,
  :block/updated-at 1607817600000}
 {:block/name "⏯ puk leuenberger",
  :block/created-at 1634043170524,
  :block/updated-at 1634046991487}
 {:block/name "⏯ werkzeuge für die arbeit mit dem zettelkasten",
  :block/created-at 1634043170520,
  :block/updated-at 1634044172514}
 {:block/name "⏯ grundsätzliche funktionsweise des zettelkastens",
  :block/created-at 1634043170524, 
  :block/updated-at 1634043987148}]
